In [41]:
#coding:utf-8
import requests
import json
import time
import random
import io
import pandas as pd

# 爬取数据

In [55]:
username = []
date = []
city = []
score = []
comment = []
def getContent(url):
    headers = {
'User-Agent':'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.140 Safari/537.36'
}
    response = requests.get(url,headers = headers)
    response = response.text
    data = json.loads(response)
    data = data['cmts']
    for item in data:
        try:
            username.append(item['nick'])
            date.append(item['startTime'].split()[0])
            city.append(item['cityName'])
            score.append(item['score'])
            comment.append(item['content'])
            #print(item['nick'],item['startTime'].split()[0],item['cityName'],item['score'],item['content'])
        except Exception:
            continue

In [57]:
getContent('https://m.maoyan.com/mmdb/comments/movie/1299372.json?_v_=yes&offset=5')

e.g.李焕英  https://m.maoyan.com/mmdb/comments/movie/1299372.json?_v_=yes&offset=1

In [59]:
# #保存数据到dataframe
username = []
date = []
city = []
score = []
comment = []
def save_to_dataframe(pages,movie_number):
    for i in range(1,pages,1):
        url = 'http://m.maoyan.com/mmdb/comments/movie/'+movie_number+'.json?_v_=yes&offset=' + str(i)
        getContent(url)

In [60]:
save_to_dataframe(10,'1299372')
data = pd.DataFrame({'username':username,'date':date,'city':city,'score':score,'comment':comment})
data.head()

       username        date  city  score                          comment
0         易烊千玺.  2021-02-18   无为市    5.0                    非常好看，说不出来的感动!
1  lzX878846254  2021-02-18    宁乡    4.0  影片呼声很高，却没想的那么感动到我。而我却是一个特别感性的人。
2      你的脑袋要发芽.  2021-02-18  锡林郭勒    4.5                         很感人 哭了两次
3        周瑜虹123  2021-02-18    常州    5.0                          好看带家属看的
4  kCe991911524  2021-02-18    苏州    4.5                         全程很好 很感人

In [61]:
data.tail()

,username,date,city,score,comment
130,来一份鸡手,2021-02-18,延边,5.0,看完很多的感触，明明笑着却有一种想哭的感觉。每一位演员的演技都非常棒，充满笑点和泪点的一部剧...
131,EtB126320062,2021-02-18,上海,5.0,非常走心的电影 没有刻意的商业化 喜欢
132,琴琴啦～,2021-02-18,内江,5.0,很好看
133,鹏堡,2021-02-18,锦州,5.0,非常好看，感人
134,zhuyuze318,2021-02-18,乌鲁木齐,4.5,好好好，值得看的电影

In [ ]:
# #保存数据到文本文档
# def save_to_txt(num,movie,file):
#     for i in range(num):
#         url = 'http://m.maoyan.com/mmdb/comments/movie/'+movie+'.json?_v_=yes&offset=' + str(i)
#         getContent(url,file)
#         print('正在保存第%d页。'% i)
#         time.sleep(5)

# def run():
#     movie = input('请输入要抓取的电影编号：')
#     #创建文件保存数据
#     table = input('请输入要插入的文件名：')
#     num = input('请输入要爬取的页数：')
#     num = int(num)
#     path = './' + table+'.txt'
#     file = open(path,'w')
#     save_to_txt(num,movie,file)
#     file.close()
#     print('数据写入完成')